{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/dash/favicon-824.png' %}">
    <title>{% block title %}{% endblock %} | TickerSec</title>

    {# Carga la biblioteca #}
    {% load django_bootstrap5 %}

    {# Cargar CSS y JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Mostrar django.contrib.messages como alertas Bootstrap #}
    {% bootstrap_messages %}

    {# CSS custom styles #}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dash/styles.css' %}">
    {% endblock extra_css %}
</head>

<body class="bg-secondary-subtle">
    <header class="bg-blueMilei">
        <nav class="navbar navbar-expand-lg me-2">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'dash:index' %}">
                    <img src='{% static "img/dash/favicon-824.png" %}' width="80rem" alt="" srcset="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="navItemEffect nav-item me-3">
                            <a class="navTextEffect nav-link" aria-current="page"
                                href="{% url 'core:tickets' %}">Tickets</a>
                        </li>
                        <li class="navItemEffect nav-item me-3">
                            <a class="navTextEffect nav-link" href="#">CVEs</a>
                        </li>
                        <li class="navItemEffect nav-item me-3 dropdown">
                            <a class="navTextEffect nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Administración
                            </a>
                            <ul class="dropdown-menu bg-blueMilei-subtle">
                                <li><a class="navTextEffect dropdown-item"
                                        href="{% url 'core:categories' %}">Categorías</a></li>
                                <li><a class="navTextEffect dropdown-item" href="#">Usuarios</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="navTextEffect dropdown-item" href="#">Reportes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Fecha Hora -->
                    <div class="d-flex me-2">
                        <div class="nav-link disabled text-white p-1 me-3" id="fechaCompleta"></div>
                        <div class="nav-link disabled text-white p-1 me-5 border rounded" id="reloj"></div>
                    </div>
                    <!-- Search -->
                    <form class="d-flex me-2" role="search">
                        <input class="form-control me-2" type="search" placeholder="buscar" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">buscar</button>
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-end p-1 me-2 bg-blueMilei-subtle rounded">
                {% if user.is_authenticated %}
                <!-- user_detail -->
                <div class="nav-item dropdown">
                    <button class="btn btn-sm dropdown-toggle p-0" type="button" id="dropdownMenuUser"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/dash/user.png' %}" alt="avatar icon" class="rounded-circle"
                            style="width: 35px;">
                        <span class="text-white">{{ user|title }}</span>
                    </button>
                    <ul class="dropdown-menu bg-blueMilei-subtle" aria-labelledby="dropdownMenuUser">
                        <li class="list-unstyled p-1">
                            <a class="link-light" href="#">Mis Tickets</a>
                        </li>
                        <li class="list-unstyled p-1">
                            <a class="link-danger " href="{% url 'logout' %}">
                                Logout
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                    <path fill-rule="evenodd"
                                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-sm btn-outline-success">Ingresar</a>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block main %}{% endblock main %}

    <footer class="bg-blueMilei text-white p-2">
        <div class="container" style="min-height: 100px;">
            <h1>AQUI VA EL FOOTER</h1>
        </div>
    </footer>

    {% block js %}
    <script src="{% static 'js/dash/reloj.js' %}"></script>
    {% endblock js %}
</body>

</html>