{% extends "dash/base.html" %}

{% block title %} Tickets {% endblock title %}

{% load static %}

{% block main %}
<div class="container-fluid my-2">
    <div class="d-flex justify-content-end py-1">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary shadow" data-bs-toggle="modal"
            data-bs-target="#newTicketModal">
            Registrar Ticket
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="newTicketModal" tabindex="-1" aria-labelledby="newTicketModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newTicketModalLabel">Nuevo Ticket</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "core/ticket_create.html" %}
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hove">
        <thead class="text-center">
            <tr>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">#</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Título</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Categoría</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Severidad</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Impacto</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Estado</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Creado por</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Asignado a</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Fecha de Creación</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Resolución</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-capitalize">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in ticket_list %}
            <tr>
                <th scope="row">
                    <a class="text-decoration-none" href="{% url 'core:tickets' %}">{{ticket.type}}{{ticket.pk}}</a>
                </th>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.category }}</td>
                <td>{{ ticket.severity }}</td>
                <td>{{ ticket.impact }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.createdBy }}</td>
                <td>{{ ticket.assignedTo }}</td>
                <td>{{ ticket.createdAt }}</td>
                <td>{{ ticket.resolution }}</td>
                <td>
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}