{% extends "dash/base.html" %}

{% block title %} Tickets {% endblock title %}

{% load static %}

{% block main %}
<div class="container-fluid my-2">
    {% if user.is_authenticated %}
    <div class="d-flex align-items-center justify-content-between py-2">
        <!-- Filter -->
        <form action="{% url 'core:tickets' %}" method="get">
            {% csrf_token %}
            <div class="d-flex flex-colum input-group text-center">
                {% for field in searchForm %}
                <div class="form-group me-2">
                    <label for="{{form.label.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <button type="reset" title="limpiar" class="btn btn-outline-danger border border-0 rounded-5 fs-5">
                    <span>X</span>
                <button type="submit" class="input-group-append btn btn-outline-primary border-start-1 border ms-n5">
                    Filtrar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </button>
            </div>
        </form>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary shadow" data-bs-toggle="modal" data-bs-target="#newTicketModal">
            Registrar Ticket
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="newTicketModal" tabindex="-1" aria-labelledby="newTicketModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newTicketModalLabel">Nuevo Ticket</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "core/ticket_create.html" %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <table class="table table-hover" style="font-size: .8rem;">
        <thead class="text-center">
            <tr>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">#</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Título</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Categoría</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Severidad</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Impacto</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Estado</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Responsable</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Registrado</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Actualizado</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Resolución</th>
                <th scope="col" class="bg-blueMilei-subtle text-white text-uppercase">Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for ticket in ticket_list %}
            <tr>
                <th scope="row">
                    {% if user.is_authenticated %}
                    <a class="text-decoration-none"
                        href="{% url 'core:detail-ticket' ticket.pk %}">{{ticket.type}}{{ticket.pk}}</a>
                    {% else %}
                    {{ticket.type}}{{ticket.pk}}
                    {% endif %}
                </th>
                <td>{{ ticket.title }}</td>
                <td title="{{ticket.category.name}}">{{ ticket.category.subcategory }}</td>
                <td><span class="severidad-{{ ticket.severity|lower }} px-1">{{ ticket.severity }}</span></td>
                <td><span class="impacto-{{ ticket.impact|lower }}">{{ ticket.impact }}</span></td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.assignedTo }}</td>
                <td>{{ ticket.createdAt }}</td>
                <td>{{ ticket.lastUpdate }}</td>
                <td>{{ ticket.resolution_display }}</td>
                <td>
                    {% if user.is_authenticated %}
                    <a href="{% url 'core:update-ticket' ticket.pk %}" class="btn btn-sm btn-outline-primary" title="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock main %}