{% extends "dash/base.html" %}

{% block title %}Ticket {{ticket.type}}{{ticket.pk}} {% endblock title %}

{% load static %}

{% block main %}
<div class="container m-5"></div>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <form method="post" enctype="multipart/form-data" class="bg-white shadow-lg border border-5 border-primary rounded-2 m-5 p-3">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group mb-3">
            <label for="{{form.label.id_for_label}}">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
{% endblock main %}