{% extends "dash/base.html" %}

{% block title %}Ticket {{ticket.type}}{{ticket.pk}} {% endblock title %}

{% load static %}

{% block main %}
<div class="container m-4">
    <div class="d-flex">
        <a href="{% url 'core:tickets' %}" class="btn btn-sm btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
            </svg>
        </a>
    </div>
    <h1>Detalle del Ticket #{{ ticket.type }}{{ ticket.pk }}</h1>
    <div class="card">
        <div class="card-header">
            <h2>{{ ticket.title }}</h2>
        </div>
        <div class="card-body row">
            <div class="col-md-6">
                <p><strong>Tipo:</strong> {{ ticket.get_type_display }}</p>
                <p><strong>Categoría:</strong> {{ ticket.category }}</p>
                <p>
                    <strong>Severidad:</strong>
                    <span class="severidad-{{ ticket.severity|lower }}">{{ ticket.severity }}</span>
                </p>
                <p>
                    <strong>Impacto:</strong>
                    <span class="impacto-{{ ticket.impact|lower }}">{{ ticket.impact }}</span>
                </p>
                <p><strong>Estado:</strong> {{ ticket.get_status_display }}</p>
            </div>
            <div class="col-md-6">
                <p><strong>Creado por:</strong> {{ ticket.createdBy }}</p>
                <p><strong>Asignado a:</strong> {{ ticket.assignedTo }}</p>
                <p><strong>Fecha de creación:</strong> {{ ticket.createdAt }}</p>
                <p><strong>Última actualización:</strong> {{ ticket.lastUpdate }}</p>
                <p><strong>Tiempo de resolución:</strong> {{ ticket.resolution_display }}</p>
            </div>
            <div class="mt-3">
                <h3>Resumen</h3>
                <p>{{ ticket.resume }}</p>
            </div>
            <!-- Reportes -->
        </div>
        <div class="card-footer p-4">
            {% for report in reports %}
            <p>{{ report }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="container shadow-lg mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{message}}
            </div>
            {% endfor %}
            <form method="post" action="{% url 'core:detail-ticket' ticket.pk %}" enctype="multipart/form-data"
                class="p-3">
                {% csrf_token %}
                {{ form.media}}
                {% for field in form %}
                <div class="form-group mb-3">
                    <label for="{{form.label.id_for_label}}">{{field.label}}:</label>
                    {{field}}
                </div>
                {% endfor %}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
    </div>
</div>
</div>
{% endblock main %}